recursive-include netbox_labels/templates *
recursive-include netbox_labels/static *
recursive-include netbox_labels/migrations *.py
recursive-include netbox_labels/locale *
include LICENSE README.md
